@using RideWithMeWebApp.Models.Classes
@using RideWithMeWebApp.Models.Interfaces
@model RideWithMeWebApp.Models.Interfaces.IUser

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h4><a class="navbar-brand mx-2">@Html.ActionLink("RideWithMe", "Index", "Home")</a></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar mr-auto">
                @{
                    var user = Session["user"] as IUser;
                    if (user != null)
                    {
                        if (user.UserType == 0) // Rider
                        {
                            <a class="nav-link">@Html.ActionLink("New Request", "NewRequest", "Home")</a>
                            <a class="nav-link">@Html.ActionLink("History", "History", "Home")</a>
                        }
                        else if (user.UserType == 1) // Driver
                        {
                            <a class="nav-link">@Html.ActionLink("Requests", "GetRequests", "Home")</a>
                            <a class="nav-link">@Html.ActionLink("Vehicles", "Vehicles", "Home")</a>
                        }
                        else if (user.UserType == 2) // Admin
                        {
                            <a class="nav-link">@Html.ActionLink("Users", "Index", "Users")</a>
                            <a class="nav-link">@Html.ActionLink("Rides", "Index", "Rides")</a>
                            <a class="nav-link">@Html.ActionLink("Vehicles", "Index", "Vehicles")</a>
                        }
                    }
                }
            </div>
        <div class="navbar p-0 my-auto">
            @{
                if (user != null)
                {
                    <span class="navbar-text">Welcome, @user.FirstName!</span>
                }
                else
                {
                    <span class="navbar-text">Welcome!</span>
                }
            }
            <a class="nav-link">
                @{
                    if (user != null)
                    {
                        @Html.ActionLink("Account", "Account", "Home")
                    }
                    else
                    {
                        @Html.ActionLink("Register", "Register", "Home")
                    }
                }
            </a>
            <a class="nav-link">
                @{
                    if (user != null)
                    {
                        @Html.ActionLink("Logout", "Logout", "Home")
                    }
                    else
                    {
                        @Html.ActionLink("Login", "Login", "Home")
                    }
                }
            </a>
        </div>
    </div>
</nav>