@using RideWithMeWebApp.Models.Interfaces
@model IEnumerable<RideWithMeWebApp.Models.Classes.Vehicle>

@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2>Vehicles</h2>

<p>
    @Html.ActionLink("Register New Vehicle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.License)
        </th>
        <th></th>
    </tr>
    @if (ViewBag.Vehicles != null)
    {
        var collection = ViewBag.Vehicles as IList<IVehicle>;
        foreach (var item in collection) {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Make)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Model)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Year)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Color)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.License)
                 </td>
                 <td>
                     @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                     @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                     @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                 </td>
             </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6">
                No vehicles registered.
            </td>
        </tr>
    }
</table>
